# --- For-Bot-Working --------- #
pyrofork
pyrogram
pyrotgfork
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
marshmallow
dnspython
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
